{% extends "layout.html" %}

{% block title %}Add Note{% endblock %}

{% block main %}
<div class="container my-5">
    <h2 class="mb-4 text-center">+ Add Note</h2>
    <form method="POST">
        <div class="mb-3">
            <input type="text" class="form-control" name="title" placeholder="Title" required>
        </div>
        <div class="mb-3">
            <textarea class="form-control" name="content" rows="5" placeholder="Content" required></textarea>
        </div>
        <button type="submit" class="btn btn-success w-100">Save Note</button>
    </form>
</div>
{% endblock %}
